// Specific CSS for home-page

.card-error-message {
 background-color: white;
padding: 20px;
}

.add-ride-button {
margin-top: 20px;
}

.form-outline {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 20px;
  width: 400px;
}

.form-outline label {
  margin: 10px;
  color: #374177;

}

.form-outline input[type="search"] {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.form-outline input[type="submit"] {
  background-color: #374177;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
