<%# <div class= "d-none" data-bookings-target="form">
<p>OU ALORS JE METS EN ERB CI-DESSOUS LAUTRE FACON DE DEFINIR MON DATA-TARGET</p> %>
  <%= simple_form_for(booking,
                      url: update_comment_booking_path(booking),
                      method: :patch,
                      data: {bookings_target: "form"},
                      html: { class: "mt-4 d-none"}) do |f| %>
    <%= f.input :comment,
                # input_html: { class: "mt-4"},
                label: "What do you want to add to the Owner?"
                # input_html: {class: "bg-danger"}
                # Si je veux toucher à la DIV qui englober label+input, alors wrapper_html: {class: "", data: {action: ""}}

                %>
    <%= f.submit class: "btn btn-success"%>
  <% end %>
<%# </div> %>
