<div class= "d-none" data-bookings-target="form">
  <%= simple_form_for(booking, url: update_comment_booking_path(booking), method: :patch) do |f| %>
    <%= f.input :comment, label: "What do you want to add to the Owner?" %>
    <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
