.navbar-lewagon {
  justify-content: space-between;
  background: #e2f3ff;
  color:#374177;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:#374177;
}
